.weatherMain_container {
  width: 500px;
  height: 550px;
  border-radius: 96px 96px 0 0;
  background-color: #e3f4fe;
  padding: 45px 30px;
  box-sizing: border-box;

  text-align: center;
}

.weatherMain_header {
  font-size: 46px;
  margin: 0;
}

.weatherMain_weatherIcon {
  margin-top: 30px;
  width: 200px;
}

.weatherMain_temperature {
  margin: 0 0 0 0;
  font-size: 46px;
}

.weatherMain_weatherDescription {
  font-size: 20px;
  margin: 0 0 25px 0;
}
.weatherMain_temperatureContainer {
  display: flex;
  justify-content: space-between;
}

.weatherMain_temperatureDifference {
  font-size: 23px;
  height: 100px;
  padding-top: 30px;
  box-sizing: border-box;
  position: relative;
  font-weight: 600;
}

.weatherMain_day {
  width: 120px;
  height: 120px;
  background-color: #ffcd00;
  border-radius: 100%;
}

.weatherMain_night {
  width: 120px;
  height: 120px;
  background-color: #1c9cf6;
  border-radius: 100%;
}
